{% extends 'base.html.twig' %}
{% block content %}
                    {% block fos_user_content %}
                        <div id="main" role="main" style="margin-left:0;">
                            <!-- MAIN CONTENT -->
                            <div id="content">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" style="float:none; margin: 0 auto;">
                                        <div class="well no-padding">
                                            <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form" class="smart-form client-form" novalidate="novalidate">
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                                <header class="form-header">
                                                    Sign In
                                                </header>
                                                {% if error %}
                                                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                                                {% endif %}

                                                <fieldset>
                                                    <section>
                                                        <label class="label">Username</label>
                                                        <label class="input"> <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="username" name="_username"
                                                                   value="{{ last_username }}" required="required"/>
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">Password</label>
                                                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                                                            <input type="password" id="password" name="_password"
                                                                   required="required"/>
                                                           </label>
                                                    </section>
                                                    <section>
                                                        <div class="form-group">
                                                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                        </div>
                                                    </section>
                                                </fieldset>

                                                <footer class="form-footer">
                                                    <button type="submit" class="btn btn-primary btn_submit">
                                                        Sign in
                                                    </button>
                                                </footer>
                                            </form>

                                        </div>
                                    </div>
                                </div>    </div>
                            <!-- END MAIN CONTENT -->

                        </div>
         {#End#}


                    {% endblock fos_user_content %}
{% endblock %}
